body {
    font-family: DejaVu Sans, sans-serif;
}
table {
    border-collapse: collapse;
    border: solid 1px rgba(0, 0, 0, 0.05);
}
table tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}
table td {
    padding: 5px 10px;
}