:root {
    --accent: #008b8b; /*  FF7000 FAA51A #FAA51A */
    --accent-hover: #ff7000;
    --accent-darken: #c65700;
    --white: #ffffff;
    --black: #000000;
    --not-black: #333333;
    --darken-gray: #717171;
    --gray: #999999;
    --light-gray: #d1d1d1;
    --vcos-green: #73BE47;
    --rcd-red: #FE6E65;
    --demo-academy: #14BEBE;
    --society-studio: #8782BE;
    --super-light-gray: #f6f4f4;
    --orange: hsla(37,96%,54%,1);
    --orange-o50: hsla(37,96%,54%,.5);
}

body, button, input, select, textarea {
    color: var(--not-black);
}

.banner-page {
    background-color: var(--accent);
}

.banner-page .title-page {
    font-size: clamp(1.5rem, 1.1604rem + 1.5094vw, 2.5rem);
}

.banner-page:before {
    background-color: unset;
}

.footer, .jumbotron {
    background-color: var(--super-light-gray);
}

::placeholder {
    color: var(--light-gray) !important;
}

.brand-image-box {
    width: 100px;
    position: absolute;
    top: 25px;
    left: 45px;
}
.img-404 {
    object-fit: cover;
    width: 100%;
    max-width: 534px;
    border-radius: 50%;
}
.footer .footer-item .logo-bottom,
.navbar-brand .logo-bottom {
    height: 60px;
}
.p-twitter {
    padding: 5px 0 0 11px!important;
}
.p-youtube {
    padding: 5px 0 0 9px!important;
}
.p-instagram {
    padding: 5px 0 0 12px!important;
}
.p-linkedin {
    padding: 5px 0 0 11px!important;
}
.p-lang {
    padding: 5px 0 0 8px!important;
}
.px-06 {
    padding-right: 9px;
    padding-left: 9px;
}
.footer-title.sosmed-icon:after {
    margin-top: 0px!important;
}
.where-are-we ul li {
    list-style: none;
}
.where-are-we ul li a {
    color: var(--accent);
}
.where-are-we ul li a:hover {
    font-weight: 900;
}
.primary-activity {
    background-color: var(--vcos-green);
}
.demo-academy-block {
    background-color: var(--demo-academy); /* #3BA4DD;*/
}
.civil-society {
    background-color: var(--rcd-red); /* #A12868;*/
}
.society-studio {
    background-color: var(--society-studio);
}
.civil-education, .podcast-block {
    background-color: #f0cf28;
}
.radius-block {
    background-color: var(--gray);
}
.primary-activity a,
.other-activities a {
    color: var(--white)!important;
}
.primary-activity a:hover,
.other-activities a:hover {
    color: var(--black)!important;
}
.primary-activity li,
.other-activities li {
    margin: 0;
    font-size: 16px;
    list-style: none;
    font-weight: normal;
    padding-left: 1em;
}
.primary-activity li a,
.other-activities li a {
    position: relative;
}
.primary-activity li .fa,
.other-activities li .fa {
    font-size: 10px;
    top: 6px;
    left: -12px;
    position: absolute;

}
#ongoing-activities .h-100 {
    height: 100px!important;
    display: flex;
    align-items: center;
}
#ongoing-activities .h-75 {
    height: 75px!important;
    display: flex;
    align-items: center;
}
#ongoing-activities .h-150 {
    height: 150px!important;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    color: var(--white);
}
/* #ongoing-activities .h-100 img {
    height: 100px!important;
} */
.h-210 {
    height: 210px!important;
}
.mw-210 {
    min-width: 250px!important;
}
.h-150 {
    height: 150px!important;
}
.h-158 {
    height: 158px!important;
}
.mw-150 {
    min-width: 150px!important;
}
.box-news-1 .media {
    background-color: unset!important;
}

/* want-to-volunteer page */
.want-to-volunteer {
    width: 100%;
}
.btn-light {
    border: solid 1px var(--light-gray);
}
.want-to-volunteer input[type=radio] {
    display: inline;
    width: 45px;
}
.gender-labels {
    height: 100%;
    margin-top: 10px;
}
.gender-m-label {
    top: 10px;
    left: 115px;
    height: 100%;
}
.gender-f-label {
    top: 10px;
    left: 255px;
    height: 100%;
}
.want-to-volunteer textarea {
    height: 7em!important;
}
.error-border {
    border-color: var(--accent)!important;
}
.with-errors {
    color: var(--accent);
    font-size: 12px;
}
#step_4 .help-block {
    margin-bottom: 20px;
}
.rs-team-1 .media img {
    border-radius: 50%;
    margin: 20px;
    max-width: calc(100% - 40px)!important;
}
.rs-team-1:hover .media-overlay {
    opacity: 1;
}
.media-overlay {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(82,139,139,0.8);
    height: 100%;
    width: 100%;
    color: var(--white);
    transition: all 300ms ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}
.media-overlay h3 {
    width: calc(100% - 50px);
    text-align: left;
    margin-bottom: 0;
    margin-top: 15px;
}
.media-overlay p {
    padding: 25px;
    text-align: justify;
    margin-bottom: 0;
}
.publication-container {
    transition: all 300ms ease-in-out;
}
.publication-container .title {
    width: 100%;
    max-width: 300px;
    padding: 20px;
    background-color: var(--accent);
    margin: 0 auto;
    border-radius: 0 0 0 30px;
    transition: all 300ms ease-in-out;
}
.publication-box {
    width: 100%;
    max-width: 300px;
    height: 300px;
    background-size: contain;
    background-position: center;
    margin: 0 auto;
    border-radius: 0 30px 0 0;
    transition: all 300ms ease-in-out;
}
.publication-container:hover .title {
    border-radius:  0 0 30px 0;
}
.publication-container:hover .publication-box {
    border-radius:  30px 0 0 0;
    background-position: top;
}
.publication-container:hover {
    transform: scale(1.13);
}
.publication-container .title a {
    color: var(--black);
}
.bold, .publication-container .title a:hover {
    font-weight: 900;
}
.light-gray-section {
    background-color: var(--super-light-gray);
}
.strength-of-participation .author-box .body {
    margin-left: 20px;
    display: table-cell;
    vertical-align: middle;
}
.strength-of-participation .author-box .media-heading {
    text-transform: unset;
}
.highlight-accent {
    padding: 10px 13px 0;
    border: solid 1px var(--light-gray);
    background-color: var(--accent);
    color: var(--white);
}
h6 {
    font-size: 12px;
}
#osijekToGoo, #demoAkademija {
    max-height: 168px;
    max-width: 330px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    border: 1px solid var(--light-gray);

}
#osijekToGoo {
    background: url('../storage/images/osijek_to_goo_logo_sp.jpg') no-repeat left top;
}
#demoAkademija {
    background: url('../storage/images/demo_akademija_logo_sp.jpg') no-repeat left top;
}
#osijekToGoo:hover, #demoAkademija:hover {
    background-position: 0px -168px!important;
}
#osijekToGoo:hover {
    border-color: #1387B9;
}
#demoAkademija:hover {
    border-color: var(--demo-academy);
}
.ml-12 {
    margin-left: 120px;
}
.demo-academy-wrapper .testimonial-1:after {
    left:0px;
    top: -20px;
}
.video-container {
    overflow: hidden;
    position: relative;
    width:100%;
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.demo-academy-instructors .author-box .media img {
    width: 100px;
    height: auto;
}
.demo-academy-instructors .author-box .body {
    text-align: justify;
}
.mt-6 {
    margin-top: 60px;
}
blockquote {
    font-style: normal;
}
.tabs .rs-feature-box-1 {
    background-size: contain;
    background-repeat: no-repeat;
}
.rs-feature-box-1:before {
    background-color: unset;
}
.font-accent {
    font-weight: bold;
    color: var(--accent);
}
a.font-accent:hover {
    text-decoration: underline;
}
blockquote .rs-box-download {
    border: 1px solid var(--light-gray);
    border-radius: 5px;
}
blockquote .rs-box-download:hover {
    border: 1px solid var(--accent);
    border-radius: 5px;
}
#kd, #pL {
    background-color: var(--white);
    border: 1px solid #f6f6f6;
    border-left: 5px solid var(--accent);
}
.mxh-100 {
    max-height: 100px;
}
.mxh-200 {
    max-height: 200px;
}
.mxh-350 {
    max-height: 350px;
}
.h-208 {
    height: 208px;
}
.h-158 {
    height: 158px;
}
.section-patron {
    font-size: 16px;
}
.section-patron .container {
    max-width: unset;
}
.header-1 .navbar-main {
    background-color:  var(--darken-gray);
}
.navbar-main .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(250, 164, 25, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")!important;
}
.navbar button:focus, .pcast-player button:focus {
    outline: 5px auto var(--accent)!important;
}
.bkg-white {
    background-color: var(--white);
}
.primary-activity, .civil-society {
    display: flex;
    align-items: center;
    justify-items: center;
    box-sizing: content-box;
    position: relative;
    overflow: hidden;
}
.primary-activity ul, .civil-society ul {
    width: calc(100% - 30px);
}
.activity-title {
    color: var(--white);
    font-size: 1.4em;
    font-style: italic;
    margin-top: 15px;
    font-weight: 900;
    text-align: left;
    width: 100%;
}
.activity-title a {
    margin-left: 20px;
}
.activity-title .list-icon-vcos,
.activity-title .list-icon-rcd {
    top: -10px;
    left: 40px;
    position: absolute;
    width: 20px;
    height: 20px;
    background-size: 20px;
    transform: rotate(225deg);
}
/* .primary-activity {
    border: solid 1px var(--vcos-green);
}
.civil-society {
    border: solid 1px var(--rcd-red);
}
.other-activities.demo-academy {
    border: solid 1px var(--demo-academy);
}
.other-activities.society-studio {
    border: solid 1px var(--society-studio);
} */
.spacer-1 {
    padding-bottom: 0.1rem;
}
.other-activities-sngle {
    display: flex;
    align-items: center;
    width: calc(100% - 35px)!important;
}
.other-activities-sngle li {
    margin-left: -10px;
}
.list-icon {
    width: 12px;
    height: 12px;
    background-size: 12px;
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: -15px;
    margin-right: 5px;
    /* transform: rotate(45deg); */
    transition: all 300ms ease-in-out;
}
.primary-activity li a:hover .list-icon,
.other-activities.civil-society li a:hover .list-icon {
    transform: rotate(315deg);
}
.primary-activity .activity-title a:hover .list-icon,
.other-activities.civil-society .activity-title a:hover .list-icon {
    transform: rotate(-315deg);
}
.list-icon-vcos {
    background-image: url('../storage/images/vcos_icon.jpg');
}
.list-icon-rcd {
    background-image: url('../storage/images/rcd_icon.jpg');
}
.block-corner {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 30px;
    height: 30px;
    border-color: transparent;
    border-width: 16px;
    border-style: solid;
    border-left-color: var(--white);
    border-top-color: var(--white);
}
.podcast-icon {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 45px;
    height: 45px;
    padding: 10px;
    text-align: center;
    background-color: #ccb124;
}
.podcast-icon .fas {
    font-size: 26px;
    color: var(--white);
}
.primary-activity a img,
.other-activities a img {
    height: 158px;
    max-width: fit-content;
    vertical-align: middle;
}
.primary-activity:hover,
.other-activities:hover {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: both;
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: .5
    }
    100% {
        opacity: 1
    }
}
@-moz-keyframes fadeIn {
    0% {
        opacity: .5
    }
    100% {
        opacity: 1
    }
}
@-o-keyframes fadeIn {
    0% {
        opacity: .5
    }
    100% {
        opacity: 1
    }
}
@keyframes fadeIn {
    0% {
        opacity: .5
    }
    100% {
        opacity: 1
    }
}
#pL .meta-date {
    color: var(--accent);
}
.footer .fcopy {
    background-color: var(--darken-gray);
    color: var(--light-gray);
}
.dt-loader {
    font-size: 1em;
    margin: 10px auto;
    text-indent: -9999em;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background: var(--accent);
    background: -moz-linear-gradient(
        left,
        var(--accent) 10%,
        rgba(255, 255, 255, 0) 42%
    );
    background: -webkit-linear-gradient(
        left,
        var(--accent) 10%,
        rgba(255, 255, 255, 0) 42%
    );
    background: -o-linear-gradient(
        left,
        var(--accent) 10%,
        rgba(255, 255, 255, 0) 42%
    );
    background: -ms-linear-gradient(
        left,
        var(--accent) 10%,
        rgba(255, 255, 255, 0) 42%
    );
    background: linear-gradient(
        to right,
        var(--accent) 10%,
        rgba(255, 255, 255, 0) 42%
    );
    position: relative;
    -webkit-animation: load 1.4s infinite linear;
    animation: load 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
.dt-loader:before {
    width: 50%;
    height: 50%;
    background: var(--accent);
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
}
.dt-loader:after {
    background: #f8f9fa;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: "";
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
@-webkit-keyframes load {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.btn-primary,
.btn-primary:focus,
.page-item.active .page-link {
    background-color: var(--accent);
    border-color: var(--accent);
}
.page-link {
    color: var(--accent);
}
.btn-primary:hover {
    background-color: var(--accent-hover);
    border-color: var(--accent-darken);
}
.btn-primary:not(:disabled):not(.disabled):active {
    background-color: var(--accent-darken);
    border-color: var(--accent-hover);
}
.page-link:hover {
    color: var(--accent-hover);
}
.main-header .nav-link {
    height: 3rem;
}
.main-header .nav-link .fa {
    font-size: 2rem;
}
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-item.dropdown:hover .nav-link {
    background-color: var(--not-black);
}
.section.sub-navbar .row {
    justify-content: space-around;
    flex-direction: row;
    row-gap: 1rem;
}
.section.sub-navbar .btn-outline-dark {
    color: var(--darken-gray);
    border-color: var(--darken-gray);
    border: 1px solid;

}
.section.sub-navbar .btn-outline-dark:hover {
    color: var(--vcos-green);
}
[class*=sidebar-dark-] .nav-sidebar > .nav-item.menu-open > .nav-link,
[class*=sidebar-dark-] .nav-sidebar > .nav-item:hover > .nav-link,
[class*=sidebar-dark-] .nav-sidebar > .nav-item > .nav-link:focus {
    background-color: var(--orange-o50);
}
[class*=sidebar-dark-] .nav-treeview > .nav-item > .nav-link.active,
[class*=sidebar-dark-] .nav-treeview > .nav-item > .nav-link.active:focus,
[class*=sidebar-dark-] .nav-treeview > .nav-item > .nav-link.active:hover {
    background-color: var(--orange);
}
.nav-treeview .nav-link {
    padding-left: 2rem;
}
.admin-section .card-title {
    line-height: 38px;
}
.vcos-patrons-section .img-fluid {
    margin-left: 25%;
    margin-right: 25%;
    max-width: 50%;
}
#storeUserForm .custom-control,
#posts-table .custom-control,
#reports-table .custom-control,
#projects-table .custom-control,
#projects-table .custom-control-archive {
    position: relative;
    display: inline-block;
    min-height: 2rem;
    padding-left: 2rem;
}
#storeUserForm .custom-control-label,
#posts-table .custom-control-label,
#reports-table .custom-control-label,
#projects-table .custom-control-label,
#projects-table .custom-control-archive-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
    padding-left: 2.2rem;
    line-height: 2.25;
}
#storeUserForm .custom-control-label::before,
#posts-table .custom-control-label::before,
#reports-table .custom-control-label::before,
#projects-table .custom-control-label::before,
#projects-table .custom-control-archive-label::before {
    position: absolute;
    top: .25rem;
    left: -0.1rem;
    display: block;
    width: 2rem;
    height: 2rem;
    pointer-events: none;
    content: "";
    background-color: #dee2e6;
    border: #adb5bd solid 1px;
    box-shadow: inset 0 0.25rem 0.25rem rgb(0 0 0 / 10%);
}
#storeUserForm .custom-control-input:checked~.custom-control-label::before,
#posts-table .custom-control-input:checked~.custom-control-label::before,
#reports-table .custom-control-input:checked~.custom-control-label::before,
#projects-table .custom-control-input:checked~.custom-control-label::before,
#projects-table .custom-control-input-archive:checked~.custom-control-archive-label::before  {
    color: #fff!important;
    border-color: var(--accent)!important;
    background-color: var(--accent)!important;
    box-shadow: none;
}
#storeUserForm .custom-control-label::after,
#posts-table .custom-control-label::after,
#reports-table .custom-control-label::after,
#projects-table .custom-control-label::after,
#projects-table .custom-control-archive-label::after {
    position: absolute;
    top: -0.2rem;
    left: -0.6rem;
    display: block;
    width: 3rem;
    height: 3rem;
    content: "";
    background: no-repeat 50%/50% 50%;
}
#storeUserForm .custom-checkbox .custom-control-input:checked~.custom-control-label::after,
#posts-table .custom-checkbox .custom-control-input:checked~.custom-control-label::after,
#reports-table .custom-checkbox .custom-control-input:checked~.custom-control-label::after,
#projects-table .custom-checkbox .custom-control-input:checked~.custom-control-label::after,
#projects-table .custom-checkbox .custom-control-input-archive:checked~.custom-control-archive-label::after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}
.img-preview {
    position: absolute;
    top: 50px;
    right: 10px;
    box-shadow: 0 0 15px 0 rgba(0,0,0, .3);
    cursor: pointer;
    transition: all 300ms ease-in-out;
    border-radius: 5px;
}
.img-preview:hover {
    box-shadow: 0 0 15px 0 rgba(0,0,0, .6);
}
.news-details .single-news a {
    color: var(--accent);
    font-weight: 900;
}
.news-details .single-news a:hover,
.banner-page .breadcrumb a:hover {
    text-decoration: underline;
}
#social-links ul {
    list-style: none;
    margin-left: 0;
}
#social-links ul li {
    display: inline-block;
    margin-right: 1rem;
}
#social-links a span {
    font-size: 2rem;
}
option:disabled {
    color: var(--light-gray);
}
.banner-page .breadcrumb > .active:hover,
.banner-page .breadcrumb a:hover,
.breadcrumb-item + .breadcrumb-item::before {
    color: var(--white);
}
#oc-fullslider .slider-pos {
    top:unset;
}
.relative {
    position: relative;
}
.pr-30 {
    padding-right: 30px;
}
.global-search-reset {
    display: inline-block;
    position: absolute;
    right: 3rem;
    top: 0;
    width: 2.37rem;
    height: 2.37rem;
    color: var(--darken-gray);
    font-size: 1rem;
    z-index: 10;
    padding: 0.5rem 1rem;
    cursor: pointer;
}



@media (max-width: 767px) {
    #osijekToGoo {
        border-color: #1387B9;
    }
    #demoAkademija {
        border-color: var(--demo-academy);
    }
    #osijekToGoo {
        content: url('../storage/images/osijek_to_goo_logo.jpg');
    }
    #demoAkademija {
        content: url('../storage/images/demo_akademija_logo.jpg');
    }
    .banner.owl-carousel .owl-slide {
        background-size: contain;
    }
    #oc-fullslider {
        height: 352px!important;
    }
    .d-sm-block-pagination {
        display: flex !important;
    }
    .global-search-group {
        margin-bottom: 1rem!important;
        max-width: calc(100vw - 30px);
    }

}
@media (max-width: 576px) {
    #oc-fullslider {
        height: 263px!important;
    }
    .demo-academy-instructors .author-box .media {
        display: block;
        margin-bottom: 20px;
    }
}


@media (min-width: 280px) {
    #oc-fullslider {
        height: 124px!important;
    }
}
@media (min-width: 320px) {
    #oc-fullslider {
        height: 151px!important;
    }
}
@media (min-width: 360px) {
    #oc-fullslider {
        height: 170px!important;
    }
}
@media (min-width: 375px) {
    #oc-fullslider {
        height: 176px!important;
    }
}
@media (min-width: 411px) {
    #oc-fullslider {
        height: 195px!important;
    }
}
@media (min-width: 540px) {
    #oc-fullslider {
        height: 246px!important;
    }
}
@media (min-width: 768px) {
    .frame-container {
        height: 168px;
    }
    #oc-fullslider {
        height: 352px!important;
    }
    .d-md-block-pagination {
        display: flex !important;
    }
    .section.sub-navbar .row {
        justify-content: space-between;
    }
}
@media (min-width: 991px) {

}
@media (min-width: 992px) {
    #oc-fullslider {
        height: 455px!important;
    }
    .global-search-group {
        width: auto;
        margin-bottom: unset!important;
        cursor: pointer;
    }
}
@media (min-width: 1025px) {
    #oc-fullslider {
        height: 465px!important;
    }
}
@media (min-width: 1200px) {
    #oc-fullslider {
        height: 555px!important;
    }
}
@media (min-width: 1903px) {
    #oc-fullslider {
        height: 892px!important;
    }
}
@media (min-width: 2000px) {
    #oc-fullslider {
        height: 953px!important;
    }
}

 /***** progressbar *****/
 .progressbar-container {
    width: 100%;
    margin: 15px auto;
}
.progressbar {
    counter-reset: step;
    width: 100%;
}
.progressbar li {
    list-style-type: none;
    width: 25%;
    float: left;
    font-size: 12px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: var(--gray);
}
.progressbar.progress-third li {
    width: 33%;
}
.progressbar li:before {
    width: 30px;
    height: 30px;
    content: counter(step);
    counter-increment: step;
    line-height: 26px;
    border: 2px solid var(--gray);
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: var(--white);
}
.progressbar li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color:var(--gray);
    top: 15px;
    left: -50%;
    z-index: -1;
}
.progressbar li:first-child:after {
    content: none;
}
.progressbar li.active {
    color: var(--accent);
}
.progressbar li.active:before {
    border-color: var(--accent);
}
.progressbar li.active + li:after {
    background-color: var(--accent);
}
/****** end of progress *************/
/************** Base for label styling checkboxes *************/
.checkboxes {
    display: inline-block;
}
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked,
[type="radio"]:not(:checked),
[type="radio"]:checked  {
  position: absolute;
  left: 0;
  opacity: 0.01;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label,
[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
  position: relative;
  padding-left: 2.3em;
  font-size: 1.05em;
  line-height: 1.7;
  cursor: pointer;
  outline: none;
}
[type="checkbox"]:not(:checked) + label:focus,
[type="checkbox"]:checked + label:focus,
[type="checkbox"]:not(:checked) + label:before:focus,
[type="checkbox"]:checked + label:before:focus,
[type="radio"]:not(:checked) + label:focus,
[type="radio"]:checked + label:focus,
[type="radio"]:not(:checked) + label:before:focus,
[type="radio"]:checked + label:before:focus {
    outline: none;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before,
[type="radio"]:not(:checked) + label:before,
[type="radio"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1.4em;
  height: 1.4em;
  background: #FFF;
  border-radius: .2em;
  /* box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 rgba(203, 34, 237, .2); */
  -webkit-transition: all .275s;
      transition: all .275s;
}
[type="radio"]:not(:checked) + label:before,
[type="radio"]:checked + label:before {
    border-radius: 50%;
}
[type="checkbox"]:not(:checked) + label:before,
[type="radio"]:not(:checked) + label:before {
    border: 1px solid #aaa;
}
[type="checkbox"]:checked + label:before,
[type="radio"]:checked + label:before {
    border: 1px solid var(--accent);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after,
[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:after {
  content: '\2713';
  position: absolute;
  top: .525em;
  left: .18em;
  font-size: 1.375em;
  color: var(--accent);
  line-height: 0;
  -webkit-transition: all .2s;
      transition: all .2s;
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after,
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0) rotate(45deg);
      transform: scale(0) rotate(45deg);
}

[type="checkbox"]:checked + label:after,
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1) rotate(0);
      transform: scale(1) rotate(0);
}

/* Disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before,
[type="radio"]:disabled:not(:checked) + label:before,
[type="radio"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #e9e9e9;
}

[type="checkbox"]:disabled:checked + label:after,
[type="radio"]:disabled:checked + label:after {
  color: #777;
}

[type="checkbox"]:disabled + label,
[type="radio"]:disabled + label {
  color: #aaa;
}

/* Accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before,
[type="radio"]:checked:focus + label:before,
[type="radio"]:not(:checked):focus + label:before {
  box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 6px rgba(203, 34, 237, .2);
}
/******** end checkboxes **************************************************************/

/* strength-of-participation */
.strength-of-participation .topbar,
.osijek-to-goo .topbar,
.strength-of-participation .section.cta,
.osijek-to-goo .section.cta,
.strength-of-participation .footer-item .footer-title:after,
.osijek-to-goo .footer-item .footer-title:after,
.strength-of-participation .cd-top,
.osijek-to-goo .cd-top,
.osijek-to-goo .rs-icon-info .fa {
    background-color: var(--rcd-red);
}
.strength-of-participation blockquote,
.osijek-to-goo blockquote {
    border-left-color: var(--rcd-red);
}
.strength-of-participation .middlebar .icon,
.osijek-to-goo .middlebar .icon,
.strength-of-participation .dropdown-toggle::after,
.osijek-to-goo .dropdown-toggle::after,
.strength-of-participation .navbar-main .navbar-nav .nav-link:hover,
.osijek-to-goo .navbar-main .navbar-nav .nav-link:hover,
.strength-of-participation .footer-item .footer-title,
.osijek-to-goo .footer-item .footer-title,
.strength-of-participation .sosmed-icon.primary a,
.osijek-to-goo .sosmed-icon.primary a,
.strength-of-participation a:hover,
.osijek-to-goo a:hover,
.strength-of-participation .fcopy .color-primary,
.osijek-to-goo .fcopy .color-primary,
.strength-of-participation .footer .footer-item .list li a:hover,
.osijek-to-goo .footer .footer-item .list li a:hover,
.strength-of-participation .font-accent {
    color: var(--rcd-red);
}
.strength-of-participation .sosmed-icon.primary a:hover {
    color: var(--not-black);
}
.osijek-to-goo .banner-page .breadcrumb a:hover,
.osijek-to-goo .banner-page .breadcrumb > .active:hover,
.strength-of-participation .banner-page .breadcrumb a,
.strength-of-participation .banner-page .breadcrumb > .active:hover {
    color: var(--white)!important;
}
.osijek-to-goo .banner-page .breadcrumb a:hover,
.strength-of-participation .banner-page .breadcrumb a:hover {
    text-decoration: underline;
}

/* vcos */
.vcos .topbar,
.kd .topbar,
.unv .topbar,
.ess .topbar,
.open-volunteering-opportunities .topbar,
.open-volunteering-opportunities-details .topbar,
.vcos .section.cta,
.open-volunteering-opportunities .section.cta,
.open-volunteering-opportunities-details .section.cta,
.vcos .footer-item .footer-title:after,
.kd .footer-item .footer-title:after,
.unv .footer-item .footer-title:after,
.ess .footer-item .footer-title:after,
.open-volunteering-opportunities .footer-item .footer-title:after,
.open-volunteering-opportunities-details .footer-item .footer-title:after,
.vcos .cd-top,
.unv .cd-top,
.ess .cd-top,
.kd .cd-top,
.open-volunteering-opportunities .cd-top,
.open-volunteering-opportunities-details .cd-top,
.open-volunteering-opportunities .pagination .page-item.active .page-link,
.open-volunteering-opportunities .pagination .page-item .page-link:hover,
.ess .rs-icon-info .fa {
    background-color: var(--vcos-green);
}
.open-volunteering-opportunities .pagination .page-item .page-link:hover,
.vcos .banner-page .breadcrumb a:not(.active):hover,
.unv .banner-page .breadcrumb a:not(.active):hover,
.kd .banner-page .breadcrumb a:not(.active):hover,
.ess .banner-page .breadcrumb a:not(.active):hover,
.vcos .banner-page .breadcrumb > .active:hover,
.unv .banner-page .breadcrumb > .active:hover,
.kd .banner-page .breadcrumb > .active:hover,
.ess .banner-page .breadcrumb > .active:hover {
    color: var(--white)!important;
}
.vcos .banner-page .breadcrumb a:not(.active):hover,
.unv .banner-page .breadcrumb a:not(.active):hover,
.kd .banner-page .breadcrumb a:not(.active):hover,
.ess .banner-page .breadcrumb a:not(.active):hover {
    text-decoration: underline;
}
.vcos blockquote,
.unv blockquote,
.ess blockquote,
.kd blockquote {
    border-left-color: var(--vcos-green)!important;
}
.vcos .middlebar .icon,
.kd .middlebar .icon,
.unv .middlebar .icon,
.ess .middlebar .icon,
.open-volunteering-opportunities .middlebar .icon,
.open-volunteering-opportunities-details .middlebar .icon,
.vcos .dropdown-toggle::after,
.kd .dropdown-toggle::after,
.unv .dropdown-toggle::after,
.ess .dropdown-toggle::after,
.open-volunteering-opportunities .dropdown-toggle::after,
.open-volunteering-opportunities-details .dropdown-toggle::after,
.vcos .navbar-main .navbar-nav .nav-link:hover,
.kd .navbar-main .navbar-nav .nav-link:hover,
.unv .navbar-main .navbar-nav .nav-link:hover,
.ess .navbar-main .navbar-nav .nav-link:hover,
.open-volunteering-opportunities .navbar-main .navbar-nav .nav-link:hover,
.open-volunteering-opportunities-details .navbar-main .navbar-nav .nav-link:hover,
.vcos .footer-item .footer-title,
.kd .footer-item .footer-title,
.unv .footer-item .footer-title,
.ess .footer-item .footer-title,
.open-volunteering-opportunities .footer-item .footer-title,
.open-volunteering-opportunities-details .footer-item .footer-title,
.vcos .sosmed-icon.primary a,
.kd .sosmed-icon.primary a,
.unv .sosmed-icon.primary a,
.ess .sosmed-icon.primary a,
.open-volunteering-opportunities .sosmed-icon.primary a,
.open-volunteering-opportunities-details .sosmed-icon.primary a,
.vcos a:hover,
.kd a:hover,
.unv a:hover,
.ess a:hover,
.open-volunteering-opportunities a:hover,
.open-volunteering-opportunities-details a:hover,
.vcos .fcopy .color-primary,
.kd .fcopy .color-primary,
.unv .fcopy .color-primary,
.ess .fcopy .color-primary,
.open-volunteering-opportunities .fcopy .color-primary,
.open-volunteering-opportunities-details .fcopy .color-primary,
.open-volunteering-opportunities .banner-page .breadcrumb > .active:hover,
.open-volunteering-opportunities-details .banner-page .breadcrumb > .active:hover,
.vcos .banner-page .breadcrumb a:hover,
.vcos .footer .footer-item .list li a:hover,
.kd .footer .footer-item .list li a:hover,
.unv .footer .footer-item .list li a:hover,
.ess .footer .footer-item .list li a:hover,
.open-volunteering-opportunities .footer .footer-item .list li a:hover,
.open-volunteering-opportunities-details .footer .footer-item .list li a:hover,
.vcos .font-accent,
.kd .rs-accordion .title .btn:before,
.kd .rs-box-download h4,
.unv .rs-box-download h4,
.open-volunteering-opportunities-details .single-news .meta .meta-date,
.open-volunteering-opportunities-details .single-news .meta .meta-date i,
.open-volunteering-opportunities .box-news-1 .meta .date,
.unv blockquote .rs-box-download:hover .small,
.kd blockquote .rs-box-download:hover .small {
    color: var(--vcos-green)!important;
}
.vcos .sosmed-icon.primary a:hover,
.open-volunteering-opportunities-details .sosmed-icon.primary a:hover .fa,
.open-volunteering-opportunities .sosmed-icon.primary a:hover .fa {
    color: var(--not-black);
}
.kd blockquote .rs-box-download:hover,
.unv blockquote .rs-box-download:hover {
    border-color: var(--vcos-green);
}

/* social-atelier */
.social-atelier .topbar,
.social-atelier .section.cta,
.social-atelier .footer-item .footer-title:after,
.social-atelier .cd-top {
    background-color: var(--society-studio)
}
.social-atelier blockquote {
    border-left-color: var(--society-studio);
}
.social-atelier .middlebar .icon,
.social-atelier .dropdown-toggle::after,
.social-atelier .navbar-main .navbar-nav .nav-link:hover,
.social-atelier .footer-item .footer-title,
.social-atelier .sosmed-icon.primary a,
.social-atelier a:hover,
.social-atelier .fcopy .color-primary,
.social-atelier .footer .footer-item .list li a:hover,
.social-atelier .font-accent {
    color: var(--society-studio);
}
.social-atelier .sosmed-icon.primary a:hover {
    color: var(--not-black);
}

.social-atelier .banner-page .breadcrumb > .active:hover,
.social-atelier .banner-page .breadcrumb a:hover {
    color: var(--white)!important;
}
.social-atelier .banner-page .breadcrumb a:hover {
    text-decoration: underline;
}

/* demo-academy */
.demo-academy .topbar,
.demo-academy-instructors .topbar,
.demo-academy .section.cta,
.demo-academy-instructors .section.cta,
.demo-academy .footer-item .footer-title:after,
.demo-academy-instructors .footer-item .footer-title:after,
.demo-academy .cd-top,
.demo-academy-instructors .cd-top,
.demo-academy .btn-primary,
.demo-academy .btn-primary:hover,
.demo-academy .publication-container .title {
    background-color: var(--demo-academy);
}
.demo-academy blockquote,
.demo-academy-instructors blockquote {
    border-left-color: var(--demo-academy);
}
.demo-academy .middlebar .icon,
.demo-academy-instructors .middlebar .icon,
.demo-academy .dropdown-toggle::after,
.demo-academy-instructors .dropdown-toggle::after,
.demo-academy .navbar-main .navbar-nav .nav-link:hover,
.demo-academy-instructors .navbar-main .navbar-nav .nav-link:hover,
.demo-academy .footer-item .footer-title,
.demo-academy-instructors .footer-item .footer-title,
.demo-academy .sosmed-icon.primary a,
.demo-academy-instructors .sosmed-icon.primary a,
.demo-academy a:hover,
.demo-academy-instructors a:hover,
.demo-academy .fcopy .color-primary,
.demo-academy-instructors .fcopy .color-primary,
.demo-academy .footer .footer-item .list li a:hover,
.demo-academy-instructors .footer .footer-item .list li a:hover,
.demo-academy .font-accent,
.demo-academy .testimonial-1:after,
.demo-academy .testimonial-1 .title {
    color: var(--demo-academy);
}
.demo-academy .sosmed-icon.primary a:hover,
.demo-academy a.btn-primary:hover,
.demo-academy .publication-container .title a:hover {
    color: var(--not-black);
}

#podcastsList .rs-box-download .icon .fas {
    font-size: 50px;
    color: var(--light-gray);
}
.demo-academy .banner-page .breadcrumb > .active:hover,
.demo-academy-instructors .banner-page .breadcrumb > .active:hover,
.demo-academy .banner-page .breadcrumb a:hover,
.demo-academy-instructors .banner-page .breadcrumb a:hover {
    color: var(--white)!important;
}
.demo-academy .banner-page .breadcrumb a:hover,
.demo-academy-instructors .banner-page .breadcrumb a:hover {
    text-decoration: underline;
}
/* project */
.archive-of-projects .banner-page .breadcrumb > .active:hover,
.archive-of-projects .banner-page .breadcrumb a:hover,
.active-projects .banner-page .breadcrumb > .active:hover,
.active-projects .banner-page .breadcrumb a:hover,
.project .banner-page .breadcrumb > .active:hover,
.project .banner-page .breadcrumb a:hover {
    color: var(--white)!important;
}
.project .banner-page .breadcrumb a:hover,
.archive-of-projects .banner-page .breadcrumb a:hover,
.active-projects .banner-page .breadcrumb a:hover {
    text-decoration: underline;
}


/* podcasts */
.podcasts .banner-page .breadcrumb > .active:hover,
.podcasts .banner-page .breadcrumb a:hover {
    color: var(--white)!important;
}
.podcasts .banner-page .breadcrumb a:hover {
    text-decoration: underline;
}

/**************** PODCAST PLAYER *****************************************************/

.rs-accordion .title .btn {
    padding: 13px 0 13px 35px;
    text-align: left;
}
.visually-hidden, .pcast-player button span {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

/* Pcast Player */
.pcast-player .pcast-player-controls {
    box-sizing: border-box;
    background: #717171;
    color: #fff;
    font-size: 14px;
    height: auto;
    overflow: hidden;
}
.pcast-control-btns {
    padding: 5px;
    overflow: hidden;
}
.pcast-player button {
    background: #008b8b;
    color: #fff;
    border: 0;
    border-radius: 2px;
    padding: 5px;
    line-height: 22px;
    -webkit-appreance: none;
    min-width: 40px;
}
.pcast-title {
    display: block;
    float: right;
    overflow: hidden;
    text-align: center;
    font-style: italic;
    padding: 10px 0;
}
.pcast-timings .pcast-current-time {
    float: left;
}
.pcast-timings .pcast-duration {
    float: right;
    text-align: right!important;
}
.pcast-progress-wrapper {
    line-height: 0.01;
}
.pcast-player progress {
    height: 5px;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}
.pcast-player progress[value]::-webkit-progress-bar {
    background-color: #555;
    border-radius: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
.pcast-player progress[value]::-webkit-progress-value {
    background: #008b8b;
}
.pcast-player .pcast-time {
    display: inline-block;
    font-size: 13px;
    padding: 0 5px;
    text-align: left;
    width: 5.5em;
}
.pcast-player .pcast-speed {
    width: 2.5em;
}
.pcast-player .pcast-download {
    font-size: 12px;
    margin-top: 0.5em;
    display: inline-block;
    color: black;
}
.pcast-player .pcast-download:hover, .pcast-player .pcast-download:focus {
    color: #666;
}
@media (max-width: 480px) {
    .pcast-title {
        display: none;
    }
    .pcast-progress-wrapper {
        line-height: .7;
    }
    .pcast-progress {
        height: 10px!important;
    }
}
/*************************************************************************************/

/* media library */
.thumbnail {
    float: left;
    height: 200px;
    width: 200px;
    margin: 10px;
    overflow: hidden;
    position: relative;

    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
.thumbnail .overlay {
    display: none;
    background-color: #717171;
    opacity: 0.7;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}
.thumbnail .caption {
    background-color: var(--not-black);
    bottom: 0;
    color: var(--super-light-gray);
    font-size: 0.8em;
    left: 0;
    margin: 0;
    opacity: 0.8;
    overflow-wrap: break-word;
    padding: 9px;
    position: absolute;
    width: 100%;
}
.thumbnail a>img {
    margin-right: auto;
    margin-left: auto;
    display: block;
    max-height: 200px;
}
.thumbnail .btn-icon-only {
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 0 0 0 4px;
}
.thumbnail .btn-icon-only.red .fa {
    color: var(--super-light-gray)!important;
}
.thumbnail a>.far {
    font-size: 11rem;
    color: var(--light-gray);
    padding-left: 34px;
}
.modal-body img {
    width: auto;
    max-width: 100%;
}

.min-w-510 {
    min-width: 510px;
}

.max-w-510 {
    max-width: 510px;
}

.w-full {
    width: 100%;
}

.global-search-bg {
    color: var(--super-light-gray);
    background-color: var(--accent);
    border: solid 1px var(--accent);
}

.global-search-bg:hover {
    color: var(--super-light-gray);
    background-color: var(--accent);
    border: solid 1px var(--super-light-gray);
}
.global-search-result-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}

/*****************   TEST ************************************************************/
@media (min-width: 1200px) {
    .container {
        max-width: 1420px;
    }
}

/*****************   RESPONSIVE HELPERS ************************************************************/

.videoWrapper {
    position: relative;
    height: 0;
}
.videoWrapper-16-9 {
    padding-bottom: 56.25%; /* 16:9 */
}
.videoWrapper-4-3 {
    padding-top: 75%; /* 4:3 */
}
.videoWrapper-3-2 {
    padding-top: 66.66%; /* 3:2 */
}
.videoWrapper-1-1 {
    padding-top: 100%; /* 1:1 */
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.imageWrapper {
    width: 100%;
    height: auto;
}

/* first version */
.team-member-container {
    position: relative;
    overflow: hidden;
}

.team-member-description {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    z-index: 100;
    border-radius: 4px;
    text-align: left;
}

.team-member-container::before {
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    width: 50px;
    height: 50px;
    background: rgba(240, 204, 40, 0.85);
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.5s ease-out;
    z-index: 99;
    pointer-events: none; /* This prevents the pseudo-element from interfering with hover */
}

.team-member-container.hover-active::before {
    transform: scale(40);
}

.team-member-container.hover-active .team-member-description {
    opacity: 1 !important;
    visibility: visible !important;
    transform: scale(1);
}

.team-member-description {
    /*transform: scale(0.95);*/
    transform-origin: top left;
}

.vertical-centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    height: 100%;
}

/* frontend publications */
.publication-container {
    will-change: transform, opacity;
}

.publication-hidden {
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease-out;
}

.publication-visible {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    transition: all 0.4s ease-out;
}

/* Entry animation */
.publication-hidden:not(.publication-exit-up):not(.publication-exit-down) {
    transform: translateY(50px);
}

/* Exit animations */
.publication-hidden.publication-exit-up {
    transform: translateY(-50px);
}

.publication-hidden.publication-exit-down {
    transform: translateY(50px);
}

/* Responsive animations */
@media (min-width: 992px) { /* lg breakpoint */
    .publication-hidden:not(.publication-exit-up):not(.publication-exit-down) {
        transform: translateY(70px);
    }

    .publication-hidden.publication-exit-up {
        transform: translateY(-70px);
    }

    .publication-hidden.publication-exit-down {
        transform: translateY(70px);
    }
}

/* Different animation delays based on screen size */
@media (max-width: 991.98px) { /* Below lg breakpoint */
    [data-position="0"] { transition-delay: 0s !important; }
    [data-position="1"] { transition-delay: 0.1s !important; }
    [data-position="2"] { transition-delay: 0.2s !important; }
    [data-position="3"] { transition-delay: 0.3s !important; }
}

/* Ensure smooth scrolling for the whole page */
html {
    scroll-behavior: smooth;
}

